{% extends 'base.html.twig' %}

{% form_theme registrationForm _self %} {# Yo form system! I want to use this template as a form theme template for the registrationForm object #}

{#  override this form_row from form_div_layout.html.twig (bootstrap_4_layout.html.twig),
    you can add some code to your Twig template to use a specific form theme template only on certain forms.
    first: at the top of the template where you form lives, add {% form_theme %} , the name of your form variable - registrationForm - and then _self .
#}
{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {# wich variable can I use with form_row? #}
    {# {{ dump() }} #}
    {# add a class (variable) #}
    {{- form_label(form, null, { 
        label_attr: { class: 'sr-only' }
    }) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock %}

{# Profiler, form, user_registartion_form, agreeTerms, view variable, unique_block_prefix =>_user_registration_form_agreeTerms #}
{% block _user_registration_form_agreeTerms_row %}
    <div class="checkbox mb-3">
        {# {{ form_errors(form) }} to make sure any validation errors show up. #}
        {{ form_errors(form) }} 
        <label>
            <input type="checkbox" name="{{ full_name }}" required> Agree to terms I for sure read 
        </label>
    </div>
    {% endblock %}


{% block title %}Register!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            {{ form_start(registrationForm, { 
                'attr': {'class': 'form-signin'}
            }) }}
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                {{ form_row(registrationForm.email, { 
                    attr: { placeholder: 'Email' }
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    attr: { placeholder: 'Password' } 
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit"> Register </button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
