{{ form_start(articleForm, { 
	'attr': {'class': 'form-signin', 'novalidate': 'novalidate'}

}) }}
	{{ form_row(articleForm.title, { 
		label: 'Article title'
	}) }}

	{{ form_row(articleForm.author) }}

	{{ form_row(articleForm.location, { 
		attr: {
			'data-specific-location-url': path('admin_article_location_select'),
			'class': 'js-article-form-location' 
		}
	}) }}
	
	{# 	I'm adding this as a new element around the field instead of on the select element 
		so that we can remove the field without losing this target element.
	#}
	<div class="js-specific-location-target">
		{% if articleForm.specificLocationName is defined %} 
			{{ form_row(articleForm.specificLocationName) }}
		{% endif %}
	</div>

	{{ form_row(articleForm.content) }}

	{# and if published is true we can see it #}
	{% if articleForm.publishedAt is defined %} 
		{{ form_row(articleForm.publishedAt) }}
	{% endif %}

	{# the button text :-) #}
	<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(articleForm) }}
